<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input class="<%= validationErrors.find(e => e.path === 'title') ? 'invalid' : ''%>" type="text" name="title" id="title" value="<% if (editing || hasError) { %><%= product.title %><% } %>">
                <% if (validationErrors.find(e => e.path === 'title')) { %>
                    <span style="color: red; font-size: 0.85em;"><%= validationErrors.find(e => e.path === 'title').msg %></span>
                <% } %>
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input class="<%= validationErrors.find(e => e.path === 'imageUrl') ? 'invalid' : ''%>" type="text" name="imageUrl" id="imageUrl" value="<% if (editing || hasError) { %><%= product.imageUrl %><% } %>">
                <% if (validationErrors.find(e => e.path === 'imageUrl')) { %>
                    <span style="color: red; font-size: 0.85em;"><%= validationErrors.find(e => e.path === 'imageUrl').msg %></span>
                <% } %>
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input class="<%= validationErrors.find(e => e.path === 'price') ? 'invalid' : ''%>" type="number" name="price" id="price" step="0.01" value="<% if (editing || hasError) { %><%= product.price %><% } %>">
                <% if (validationErrors.find(e => e.path === 'price')) { %>
                    <span style="color: red; font-size: 0.85em;"><%= validationErrors.find(e => e.path === 'price').msg %></span>
                <% } %>
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea class="<%= validationErrors.find(e => e.path === 'description') ? 'invalid' : ''%>" name="description" id="description" rows="5"><% if (editing || hasError) { %><%= product.description %><% } %></textarea>
                <% if (validationErrors.find(e => e.path === 'description')) { %>
                    <span style="color: red; font-size: 0.85em;"><%= validationErrors.find(e => e.path === 'description').msg %></span>
                <% } %>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>
            
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>